.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.button {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin: 10px;
}

#yellow {
    background-color: yellow;
    cursor: pointer;
}

#red {
    background-color: red;
    cursor: pointer;
}

#blue {
    background-color: blue;
    cursor: pointer;

}

#grey {
    background-color: grey;
    cursor: pointer;

}

#pink {
    background-color: pink;
    cursor: pointer;
}

#show_color {
    height: 400px;
    width: 400px;
    border: 1px solid black;
    display: inline-block;
    margin-left: 50%;
    transform: translate(-50%);
}